.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: "#57bf82";
  color: "#fff";
}

.btn-secondary {
  background-color: "#ccc";
  color: "#000";
}
